{% extends 'base_generic.html' %}

{% block title %}Lista de Test{% endblock %}

{% block content %}
    <h3>Lista de Test</h3>

    {% if is_teacher_user %} 
        <div class="create-test-button-wrapper">
            <form action="{% url 'auto_test_create' %}" method="get" class="create-test-form">
                <button type="submit" class="btn btn-primary">
                    Crear Nuevo Test
                </button>
            </form>
        </div>
    {% endif %}

    <div class="tests-card-container">
        {% for item in tests %}
            <div class="tests-card">
                <h4>{{ item.test.name }}</h4>
                {% if not is_teacher_user %}
                    Intentos realizados: {{ item.attempts_made }} / {{ item.test.max_attempts }}
                    <p>Intentos restantes: {{ item.attempts_remaining }}</p>
                {% endif %}

                {% if is_teacher_user %}
                    <a href="{% url 'test_detail_teacher' item.test.id %}" class="btn-outline">Ver Detalles</a>
                {% else %}
                    {% if item.can_start_test %}
                        <a href="{% url 'test_detail' item.test.id %}" class="btn-outline">Realizar Test</a>
                    {% else %}
                        <button class="btn-outline " disabled>Sin intentos</button>
                    {% endif %}
                {% endif %}
            </div>
        {% empty %}
            <p>No hay test disponibles en este momento.</p>
        {% endfor %}
    </div>
{% endblock %}