{% extends 'base_generic.html' %}

{% block title %}Resumen del Test{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="text-center">Resumen del Test</h3>
        
        <div class="card-container">
            {% for result in question_results %}
                <div class="card">
                    <h4>Pregunta {{ forloop.counter }}</h4>
                    <p><strong>{{ result.question.statement|safe }}</strong></p>
                    
                    <p><strong>Tu respuesta:</strong> 
                        {% if result.user_answer %}
                            {{ result.user_answer|safe }}
                        {% else %}
                            <em>No respondida</em>
                        {% endif %}
                    </p>
                    {% if result.is_correct is True %}
                        <p class="correct">✅ Correcto</p>
                    {% elif result.is_correct is False %}
                        <p class="incorrect">❌ Incorrecto</p>
                    {% else %}
                        <p class="pending">🔵 Por corregir</p>
                    {% endif %}
                    <p><strong>Habilidades evaluadas</strong></p>
                    {% for skill in result.question.skills.all %}
                        <li>{{ skill.name }}</li>
                    {% endfor %}
                  
                </div>
            {% endfor %}
        </div>
        <h4 class="text-center">Total de respuestas correctas: {{ total_correct }} / {{ total_questions }}</h4>
        <a href="{% url 'test_list' %}" class="btn-outline">Volver a la lista de tests</a>
    </div>

{% endblock %}

