{% extends 'base_generic.html' %}
{% load static %}

{% block title %}Detalles del Test{% endblock %}

{% block content %}
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <h1>{{ test.name }}</h1>
    <p>Este test tiene {{ test.maximum_time }} de tiempo máximo.</p>
    <div class="timer" data-time-limit="{{ test.maximum_time.total_seconds }}">
        ⏳ Tiempo restante: <span id="timer"></span>
    </div>
    <p>¿Permitir retroceder? {% if test.allow_backtracking %}Sí{% else %}No{% endif %}</p>
    {% if current_question %}
        <p>{{ current_question.text }}</p>
        <p>Dificultad: {{ current_question.difficulty }}</p>
        
        <p>Habilidades relacionadas</p>
        <ul>
            {% for skill in current_question.skills.all %}
                <li>{{ skill.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h2>Pregunta {{ question_number }} de {{ test.questions.count }}</h2>
    <form method="POST" action="" id="test-form">
        {% csrf_token %}
        
        <div class="test-card-container">
            <div class="question-card">
                <h3>{{ current_question.statement|safe }}</h3>

                {% if current_question.response_format == 'text' %}
                    <div class="answer-space">
                        <input type="text" name="question_{{ current_question.id }}" required>
                    </div>
                {% elif current_question.response_format == 'number' %}
                    <div class="answer-space">
                        <input type="number" name="question_{{ current_question.id }}" required>
                    </div>
                {% elif current_question.response_format == 'choice' %}
                    <div class="answer-space choices">
                        {% for choice in current_question.choices.all %}
                            <label>
                                <input type="radio" name="question_{{ current_question.id }}" value="{{ choice.id }}">
                                {{ choice.text }}
                            </label><br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <button type="submit" class="btn-next" disabled>Siguiente</button>
    </form>

    <script src="{% static 'js/test_logic.js' %}"></script>
{% endblock %}
